<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Brilliant Competition">
      <%= assigns[:page_title] || "Dorsata" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script src="//unpkg.com/alpinejs" defer>
    </script>
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Barlow+Semi+Condensed:ital,wght@0,700;0,900;1,700;1,900&family=Barlow:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-white antialiased">
    <div class="relative z-10 flex items-center justify-between bg-white px-4 sm:px-6 lg:px-8">
      <img src={~p"/images/logo.svg"} class="m-2 h-6" />
      <ul class="flex justify-end gap-4">
        <li>
          <.link
            href={~p"/users/settings"}
            class="text-[0.8125rem] font-semibold leading-6 text-zinc-900 hover:text-zinc-700"
          >
            About
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/settings"}
            class="text-[0.8125rem] font-semibold leading-6 text-zinc-900 hover:text-zinc-700"
          >
            Blog
          </.link>
        </li>
        <%= if @current_user do %>
          <li class="text-[0.8125rem] leading-6 text-zinc-900">
            <%= @current_user.email %>
          </li>
          <li>
            <.link
              href={~p"/users/settings"}
              class="text-[0.8125rem] font-semibold leading-6 text-zinc-900 hover:text-zinc-700"
            >
              Settings
            </.link>
          </li>
          <li>
            <.link
              href={~p"/users/log_out"}
              method="delete"
              class="text-[0.8125rem] font-semibold leading-6 text-zinc-900 hover:text-zinc-700"
            >
              Log out
            </.link>
          </li>
        <% else %>
          <li>
            <.link
              href={~p"/users/register"}
              class="text-[0.8125rem] font-semibold leading-6 text-zinc-900 hover:text-zinc-700"
            >
              Register
            </.link>
          </li>
          <li>
            <.link
              href={~p"/users/log_in"}
              class="text-[0.8125rem] font-semibold leading-6 text-zinc-900 hover:text-zinc-700"
            >
              Log in
            </.link>
          </li>
        <% end %>
      </ul>
    </div>
    <%= @inner_content %>
  </body>
</html>
